In [1]:
import pandas as pd

In [2]:
data = pd.read_parquet("instrument_readings.parquet")

In [3]:
data

          TBP                                           readings
0       51491  [198, 197, 197, 196, 197, 196, 197, 192, 176, ...
1      168153  [195, 194, 194, 194, 194, 194, 192, 185, 172, ...
2        2613  [197, 197, 198, 196, 196, 194, 194, 183, 165, ...
3      111025  [195, 194, 194, 192, 194, 190, 185, 173, 162, ...
4       10736  [197, 196, 197, 196, 197, 196, 193, 181, 164, ...
...       ...                                                ...
88792   84411  [204, 203, 205, 203, 205, 203, 203, 193, 177, ...
88793    4188  [203, 204, 204, 203, 204, 202, 195, 167, 129, ...
88794  456674  [208, 207, 207, 207, 207, 206, 198, 175, 146, ...
88795   17341  [207, 207, 207, 207, 208, 207, 207, 203, 189, ...
88796   13247  [205, 204, 205, 205, 204, 204, 202, 188, 164, ...

[88797 rows x 2 columns]